<h3>Mambo,</h3>

<p>
  Thank you for signing up for the Red Sweater Project newsletter! You can expect a brief, exciting monthly newsletter with all the updates about what's happening at the Mungere School.
</p>
