.contact-details {
  .social-media-icons {
    display: flex;
    flex-wrap: nowrap;
  }
  .icon {
    color: $text-blue;
    font-size: 36px;
    max-width: 50px;
    margin: 0px 10px;
    &:hover {
      color: $yellow;
    }
  }
}

// .nomargintop {
//  margin-top: 0px !important;
//  padding-top: 10px;
// }
