.donate-right {
  h2 {
    font-family: 'Amatic SC', cursive;
  }
  width: 30%;
  color: white;
  margin-bottom: 2em;
  margin-right: 0;
  padding-right: 0;
}

.blue-donate {
  background-color: $text-blue;
  padding: 40px 20px 40px 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  p {
    color: white;
  }
  h2 {
    text-align: left;
  }
}

.blue-donate, .lt-blue-donate {
  h5 {
    padding-top: 0;
    font-size: 1.5em;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
  }
}

.lt-blue-donate {
  background-color: $text-blue; opacity: 0.75; filter: alpha(opacity=.86);
  padding: 40px 20px 60px 20px;
  hr {
    border: .5px solid white;
  }
}

// .donate-left {
//   width: 70vw;
//   p {
//     padding-bottom: 0;
//     img {
//     width: 20px;
//     padding-left: 7px;
//     }
//   }
//   padding-top: 40px;
//   padding-right: 30px;
//   form input {
//     text-align: left;
//   }
//
// }

form.donate-left {
  width: 100%;
}
