@media screen and (max-width: 405px) {

  .flex {
    flex-wrap: wrap;
    .flex-item-1col {
      // margin-left: auto;
      width: auto;
    }
  }
  h2, p, h4 {
    max-width: 310px;
  }
  .banner-content h2 {
    font-size: 2em;
    line-height: normal;
  }
  .banner-content h3 {
    font-size: 1em;
    margin-bottom: .5em;
    margin-left: 0;
  }
  .btn, input {
    min-width: 250px;
    max-width: 90vw;
  }

  footer .footer-bar > .links {
    display: flex;
    justify-content: center;
    width: 90vw;
    a:first-of-type {
      padding-left: 0px;
    }
  }

  .flex-item-staff {
    .staff-photo {
      display: none;
    }
  }
  // 
  // .flex-item-1col.intro {
  //   padding-left: 0;
  // }
}
