.sponsor-students:hover
  border: 1px solid $yellow
  .btn-default
    background-color: $yellow
    color: white
    margin-top: 40px

.sponsor-students-images
  margin-top: 200px

.sponsor-students
  border: 1px solid $hairline-grey
  border-radius: 5px
  margin: 15px 10px
  min-width: 275px
  width: 30%
  padding-top: 0
  padding-left: 0
  padding-right: 0
  padding-bottom: 20px
  .btn.btn-yellow
    // margin: 10px auto
    // width: 20%
  p, h5
    padding-right: 20px
    padding-left: 20px
  img
    width: 100%
    margin: 0 auto
    border-radius: 5px 5px 0 0
  a
    padding-left: 20px
    padding-bottom: 20px
