

#ashley-arrow-up,
#ada-arrow-up,
#lindsay-arrow-up,
#julia-arrow-up,
#kelsey-arrow-up,
#faye-arrow-up,
#tim-arrow-up,
#board-ada-arrow-up,
#board-sarah-arrow-up,
#board-alan-arrow-up,
#board-erika-arrow-up,
#board-john_n-arrow-up,
#advisory-jenny-arrow-up,
#advisory-dede-arrow-up,
#advisory-christine-arrow-up,
#advisory-gary-arrow-up,
#advisory-mark-arrow-up,
#advisory-haley-arrow-up,
#advisory-michele-arrow-up,
#advisory-tony-arrow-up,
#advisory-kimberly-arrow-up,
#advisory-frank-arrow-up,
#advisory-james-arrow-up,
#advisory-vanessa-arrow-up,
#advisory-arrow-up {
  display: none;
}

.staff {
  margin: 60px 0 0 0;
  height: 100px;
}

#staff, #staff-arrow-up, #board, #board-arrow-up, #advisory-arrow-up, #advisory {
  display: none;
}

#staff-arrow-up,
#staff-arrow-down,
#board-arrow-up,
#board-arrow-down,
#advisory-arrow-up,
#advisory-arrow-down {
  width: 30px;
  height: 30px;
}

#ashley-details,
#ada-details,
#lindsay-details,
#julia-details,
#kelsey-details,
#faye-details,
#tim-details,
#board-ada-details,
#board-sarah-details,
#board-alan-details,
#board-erika-details,
#board-john_n-details,
#advisory-jenny-details,
#advisory-christine-details,
#advisory-dede-details,
#advisory-gary-details,
#advisory-mark-details,
#advisory-haley-details,
#advisory-michele-details,
#advisory-kimberly-details,
#advisory-frank-details,
#advisory-james-details,
#advisory-vanessa-details,
#advisory-tony-details,
#check-donation-details,
#change-donation,
#check-arrow-up,
#change-arrow-up {
  display: none;
}

.flex-item-staff {
  max-width: 960px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .article {
    width: 100%
  }
  .social-media-icons {
    display: flex;
    max-width: 960px;
    justify-content: space-between;
    width: 80vw;
  }
  h2 {
    margin-top: 15px;
  }
  h2, hr, p {
    width: 100%;
  }
  h5 {
    margin-top: 0;
    font-variant: small-caps;
  }
  p em {
    padding-top: 10px;
  }
  .title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    padding: 10px 0;
    .name {
      width: 100%;
    }
  }
  .staff-photo {
    display: inline;
    margin: 0 20px 0 0;
    width: 125px;
    height: 185px;
    border-radius: 0 0 6px 6px;
  }
}

.arrow-down, .arrow-up {
  width: 20px;
  height: 20px;
  border-radius: 0;
  margin: 10px 0 auto 10px;
}
