<h1>Students</h1>
<div class="col-sm-12 sponsor-students-images">
  <% @students.each do |student| %>
    <div class="col-sm-3">
      <%= image_tag("#{student.image}.jpg") %>
      <h4>Name: <%= student.name %></h4>
    </div>
  <% end %>
</div>
