$text-blue: #2877A0

@mixin button
  width: auto
  justify-content: center
  align-items: center
  border-radius: 4px
  font-family: 'proxima-nova', sans-serif
  // margin-top: 20px
  height: 45px
  padding: 12px 25px
  letter-spacing: .5px
  text-transform: uppercase
  font-weight: 500
  appearance: none
  cursor: pointer
  display: inline-block
  font-size: 1em
  -webkit-font-smoothing: antialiased
  text-align: center
  text-decoration: none
  user-select: none
  vertical-align: middle
  white-space: nowrap
  &:disabled
    cursor: not-allowed
    opacity: 0.5


.btn-secondary
  background-color: white
  color: $text-blue
  overflow: hidden
  &:hover,
  &:focus
    background-color: shade(white, 5%)
    color: $text-blue
  +button

.btn-solid
  background-color: $text-blue
  color: white
  border: 0
  &:hover,
  &:focus
    background-color: shade($text-blue, 10%)
    color: #fff
  +button

.btn-yellow
  background: white
  color: $yellow
  border: 1px solid $yellow
  margin: 0 15px
  &:hover
    background: tint($yellow, 10%)
    color: #fff
  +button

.btn-grey
  background: white
  color: $body-type-grey
  border: 1px solid $body-type-grey
  &:hover
    background: tint($body-type-grey, 10%)
    color: #fff
  +button

.btn-donate
  background: $yellow
  border-radius: 25px
  &:hover
    background: tint($yellow, 10%)
    border-radius: 25px

#btn-donate
  color: white
  // height: 2em
  padding: 1px auto
  font-size: 1.25em

li
  .btn-donate
    color: white
