$yellow: #febe10


// RESET BOX-SIZING FOR THE DOC
*,
*::before,
*::after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
    box-sizing: border-box
// .....

hr
  border-color: $yellow
  margin-top: 30px
  margin-bottom: 30px
  color: $yellow

.hr-white
  border-color: white
  margin-top: 30px
  margin-bottom: 30px
  color: white

.hr-grey
  border-color: #ccc
  color: #ccc

#small-logo
  width: 100px


#menu-icon
  width: 30px
  margin-left: 20px
  margin-right: 20px
