<% if object.errors.any? %>
  <h3>Oops! We couldn't add this student. Fix these errors, and try again:</h3>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
