<div class="flex page-canvas">
  <div class="flex-item-1col">
    <h2>FREQUENTLY ASKED QUESTIONS</h2>
    <h5><strong>HOW MUCH DOES IT COST TO SEND A STUDENT TO SCHOOL?</strong></h5>
    <p>The cost of sending one child to school beyond the 5th grade is $500/year, or 1.5 times the average family's income. The Mungere Schools provide quality education at a fraction of the cost. Parents contribute $15/year, and as well as time spent volunteering on campus and attending Parent Teacher conferences.
    </p>

    <hr>

    <h5><strong>WHY BUILD A SECONDARY SCHOOL IN RURAL TANZANIA?</strong></h5>
    <br/>
    <p>
      In 2002 in the United Republic of Tanzania, school fees were abolished at the primary level (Kindergarten - 6th Grade). While many families still struggle to afford all the provisions a child needs to attend primary school, the removal of the fees created a mass influx of children of all ages enrolling as first-year students. While the country has worked to construct and manage enough primary institutions, attrition of students from the primary to secondary level is still very high, with only about 20% of the population completing their 10th Grade coursework. Family annual earnings in rural areas average around USD $300, while the cost of a single year of schooling at a government secondary school (Grades 7th – 12th) can cost upwards of USD $500. In addition to many families’ inability to pay, there are also not enough institutions to accommodate the influx of students now completing their primary school education. This is where schools like Mungere are making an immediate impact on the communities they serve.
    <br/>
    <br/>
    Find out more by visiting <%= link_to "The School", schools_path %>.
    </p>

    <hr>

    <h5><strong>WHAT CAREER OPPORTUNITIES DO STUDENTS HAVE FOLLOWING COMPLETION OF THEIR HIGH SCHOOL STUDIES AT THE MUNGERE SCHOOL?</strong></h5>
    <br/>
    <p>
      At Red Sweater Project, we hope that each child’s educational journey provides him or her with the skills to explore whatever career path they dream of pursuing or are passionate about. We strive to graduate creative scholars interested in entrepreneurism and poised to begin careers in business management, hospitality, tourism or the financial industry.
    </p>

    <hr>

    <h5><strong>HOW COMPETITIVE IS STUDENT ADMISSION?</strong></h5>
    <p>
      Each year, around 200 students apply for one of the 40 spots at the Mungere School. The criteria for admission include two entrance exam scores, interviews, and visits to each child’s home. Home visits serve to determine proximity to the school and that the student lives within the school boundary, as well as to speak with parents and family members regarding their support of the child’s education and commitment to the future.
    </p>

    <hr>

    <h5><strong>DOES MY SUPPORT REALLY MAKE A DIFFERENCE?</strong></h5>
    <br/>
    <p>
      You bet! With more than 125 students enrolled in The Mungere School, donors are actively investing in the world’s leaders of tomorrow. Each enrolled student had no chance of attending school beyond the primary level and many felt their futures were insecure. The opportunity to enroll in The Mungere School changes the beliefs of many, providing them with the education and skills to succeed in a 21st-century world.
    </p>

    <hr>

    <h5><strong>HOW DO I BECOME A SPONSOR?</strong></h5>
    <br/>
    <p>
    Student sponsorship is a special way to provide an opportunity for a child. The quality education provided at The Mungere School allows students to believe in their futures beyond the cycle of poverty of the generations before them.
    </p>

    <hr>

    <h5><strong>HOW CAN I JOIN THE RED SWEATER PROJECT TEAM IN TANZANIA?</strong></h5>
    <br/>
    <p>
    Review our open positions on our <%= link_to "Volunteer page", volunteers_path %> page and send a current CV and cover letter detailing relevant experience to <a href="mailto:volunteer@redsweaterproject.org">volunteer@redsweaterproject.org</a>.</p>

    <hr>

    <h5><strong>WHAT IF I'M INTERESTED IN VOLUNTEERING, BUT A POSITION ISN'T LISTED IN MY AREA OF EXPERTISE?</strong></h5>
    <br/>
    <p>
    From engineering to computer information technology to sustainable farming, The Mungere School utilizes a broad range of skills from a worldwide team of dedicated professionals. If you’re interested in joining our team but you don’t see a role that matches your skills listed on the Volunteer page, email  us at <a href="mailto:volunteer@redsweaterproject.com">volunteer@redsweaterproject.com</a>. We’d love to chat.
    </p>

    <hr>

    <h5><strong>WHY DOESN'T RED SWEATER PROJECT ACCEPT MORE SHORT-TERM VOLUNTEERS?</strong></h5>
    <br/>
    <p>
      The Volunteer Program at Red Sweater Project is all about creating maximum impact — not only for our volunteers but, most importantly,  for the children in the communities we serve. No doubt, short-term positions can provide meaningful experiences for volunteers, but our goal is to ensure our team is both highly skilled and adequately trained to provide such great service.
    </p>

    <hr>

    <h5><strong>IF I ALREADY HAVE PLANS TO VISIT TANZANIA, IS IT POSSIBLE TO VISIT CAMPUS?</strong></h5>
    <br/>
    <p>
      Whether traveling solo or in a group, we love hosting visitors on campus. To schedule a visit, contact us by emailing tours@redsweaterproject.org or by calling our office at +1 (443) 309-2283. If traveling with a tour operator, you can also have them contact us and coordinate a time easily coordinate a visit with your itinerary.
    </p>

    <hr>

  </div>
</div>

<div class="yellow">
  <div class="flex page-canvas">
    <div class="flex-item-2col">
      <div class="twocol-left-text">
        <h2>WHAT MAKES THE SCHOOL UNIQUE?</h2>
        <p>
          It’s a long way from Tanzania, East Africa, to Detroit. Hear how our founder, Ashley Holmer, first saw the potential in a red sweater. And explore our timeline to see how far we’ve come since 2005.
        </p>
        <div class="btns-wrapper">
          <a href="#" class="btn btn-secondary"><span>LEARN HOW IT ALL BEGAN</span></a>
        </div>
      </div>
    </div>
    <div class="shadow nonmobile">
      <div class="flex-item-2col ourfocus_donate">
      </div>
    </div>
  </div>
  </div>
</div>
<div class="shadow mobile">
  <div class="flex-item-2col ourfocus_donate">
  </div>
</div>
