<!-- Banner -->
<div class="page-banner news">
  <div class="shadow-box">
    <div class="banner-content page-canvas page-title">
      <h2>News + Testimonials</h2>
    </div>
  </div>
</div>


<div class="flex">
  <div class="page-canvas">
    <div class="flex-item-staff">
      <hr class="no-margin-bottom">
      <div class="social-media-icons">
        <h2 class="yellow-text">NEWS</h2>
      </div>
        <hr class="no-margin-top">
        <div class="social-media-icons">
        <div class="article">
          <h5><a href="http://www.redsweaterproject.org/image/Spreading%20The%20Love%20with%20Timber%20Jim.pdf" target="_blank">Spreading the Love with Timber Jim</a></h5>
          <p>
            <em>May 11, 2016</em>
          </p>
          <p>
            Tualatin Times
          </p>

          <h5><a href="http://www.kptv.com/Clip/12113648/from-lake-oswego-to-tanzania-red-sweater-project-spreads-the-love" target="_blank">Video: From Lake Oswego to Tanzania, Red Sweater Project 'Spreads The Love'</a></h5>
          <p>
            <em>January 3, 2015</em>
          </p>
          <p>
            KPTV FOX Channel 12
          </p>

          <h5><a href="http://www.pamplinmedia.com/lor/54-my-community/286493-162277-i-can-have-an-impact" target="_blank">'I can have an impact'</a></h5>
          <p>
            <em>December 24, 2015</em>
          </p>
          <p>
            The Lake Oswego Review
          </p>

          <!-- <h5>Red Sweater Project Newsletter</h5>
          <p>
            <em>Spring 2015</em>
          </p>

          <h5>Red Sweater Project Newsletter</h5>
          <p>
            <em>Holiday 2014</em>
          </p>

          <h5>Red Sweater Project Newsletter</h5>
          <p>
            <em>Fall 2013</em>
          </p>

          <h5>Red Sweater Project Newsletter</h5>
          <p>
            <em>Summer 2013</em>
          </p> -->

          <h5><a href="http://www.voanews.com/content/a-womans-journey/1577131.html" target="_blank">A Woman’s Journey: Helping Bring Literacy to Tanzanian Children</a></h5>
          <p>
            <em>January 3, 2013</em>
          </p>
          <p>
            Voice of America
          </p>

          <h5><a href="http://gentlelivingonline.com/volunteer-work/red-sweater-project-tanzania/" target="_blank">Red Sweater Project: Transforming Communities by Empowering Youth In Tanzania</a></h5>
          <p>
            <em>May 29, 2012</em>
          </p>
          <p>
            Gentle Living Online
          </p>

          <!-- <h5><a href="http://www.katu.com/about/heroes/149342695.html">Everyday Heroes: Red Sweater Project</a></h5>
          <p>
            <em>April 28, 2012</em>
          </p>
          <p>
            KATU News
          </p> -->


          <h5><a href="http://www.portlandsocietypage.com/2012/05/11/red-sweater-project-encourages-portlanders-to-help-children-in-rural-tanzania/" target="_blank">Red Sweater Project Encourages Portlanders to Help Children in Rural Tanzania</a></h5>
          <p>
            <em>April 26, 2012</em>
          </p>
          <p>
            Portland Society Page
          </p>

          <h5><a href="http://www.portlandsocietypage.com/2012/12/08/national-charity-league-holiday-tea-boosts-red-sweater-project/" target="_blank">National Charity League Holiday Tea Boosts Red Sweater Project</a></h5>
          <p>
            <em>December 2, 2012</em>
          </p>
          <p>
            Portland Society Page
          </p>


        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex">
  <div class="page-canvas">
    <div class="flex-item-staff">
      <hr class="no-margin-bottom">
      <div class="social-media-icons">
        <h2 class="yellow-text">TESTIMONIALS</h2>
      </div>
      <hr class="no-margin-top">
        <div class="social-media-icons">
        <div class="article">

          <p>
            <em>"Thank you so very much for the opportunity to take part in the school. Both personally and professionally, it has been quite a meaningful experience and I feel blessed to have taken part."</em>
          </p>
          <br>
          <p>
            &#8212;Ben F., English Teacher
          </p>
          <br>
          <br>
          <p>
            <em>"If I wasn't assured before coming to Tanzania (which I was), I am now. The drive to the school in the village is so picturesque. It is simply amazing. And the icing on the cake, the main purpose of me being here... the students."</em>
          </p>
          <br>
          <p>
            &#8212;James C., ELL Teacher
          </p>
          <br>
          <br>
          <p>
            <em>"Thank you for the opportunity to be a part of a great organization. The students are really wonderful and I have no doubt they will do great things. It has been an experience I'll always remember."</em>
          </p>
          <br>
          <p>
            &#8212;Denise D., Office &amp; Account Manager
          </p>

          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="yellow">
  <div class="flex page-canvas nowrap">
    <div class="flex-item-2col">
      <div class="twocol-left-text">
        <h2>DON'T MISS THE LATEST</h2>
        <p>
          It’s a long way from Tanzania, East Africa, to Detroit. Hear how our founder, Ashley Holmer, first saw the potential in a red sweater. And explore our timeline to see how far we’ve come since 2005.
        </p>
        <div class="btns-wrapper">
          <%= link_to 'CHECK OUT THE BLOG', posts_path, :class=>"btn btn-secondary" %>
        </div>
      </div>
    </div>
    <div class="shadow nonmobile">
      <div class="flex-item-2col ourfocus_donate">
      </div>
    </div>
  </div>
  </div>
</div>
<div class="shadow mobile">
  <div class="flex-item-2col ourfocus_donate">
  </div>
</div>
