  <!-- Banner -->
  <div class="page-banner">
    <div class="title-mask">
      <div class="container">
        <div class="banner-content">
          <h2>OUR FOCUS</h2>
          <div class="short-text">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-item-1col">
      <h2>1. QUALITY EDUCATION</h2>
      <p>Red Sweater Project's focus on quality education has set us apart since the beginning. Our success is not defined by the number of schools that we build, but by the eectiveness of our graduates as leaders in their communities. In 2013, Mungere students scored in the top quarter of schools in our region and second in the district. The Tanzania Ministry of Education has recognized Red Sweater Project as a successful school model that gets quick results, while having a long term vision.</p>
      <hr>
      <h5>WHAT DOES THE FUTURE HOLD?</h5>
      <p>
        Learn about the vision for the Mungere School campus.
      </p>
      <a href="#" class="btn btn-big btn-solid"><span>Check out the school</span></a>
    </div>
  </div>

  <div class="flex">
    <div class="flex-item-2col">
      <h2>2. GENDER EQUALITY</h2>
      <p>Boys don’t respect girls just because they’re told to. Boys respect girls when
      they compete with them on a level playing field and see them win. Whether it’s in math, or on the soccer pitch, educating girls alongside boys can shift the thinking of an entire community.
      We see this come to life every day at the Mungere School. Girls who first walked in the door with heads hung low, and eyes glued to the floor blossom into confident, smart young women who know they are intelligent and capable leaders. The young men who learn and grow alongside them cannot help but be changed.</p>
      <hr>
      <h5>TASIANA: A LEADER ON AND OFF THE PITCH</h5>
      <p>
        Read one teacher's account of student Tasiana's journey to becoming captain of the boys soccer team, and the impact she is having on her teammates.
      </p>
      <div class="btns-wrapper">
        <a href="#" class="btn btn-big btn-solid"><span>READ TASIANA'S STORY</span></a>
      </div>
    </div>
    <div class="flex-item-2col">
      <img src="../images/ourfocus_image1.jpg" />
    </div>
  </div>
