  <!-- Banner -->
  <div class="page-banner">
    <div class="title-mask">
      <div class="container">
        <div class="banner-content page-title">
          <h2>Our Focus</h2>
          <div class="short-text">

          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="intro-wrapper">
    <div class="col-sm-6">
      <h2>1. QUALITY EDUCATION</h2>
      <p>Red Sweater Project's focus on quality education has set us apart since the beginning. Our success is not defined by the number of schools that we build,
      but by the eectiveness of our graduates as leaders in their communities. In 2013, Mungere students scored in the top quarter of schools in our region and second in the district. The Tanzania Ministry of Education has recognized Red Sweater Project as a successful school model that gets quick results, while having a long term vision.</p>
      <hr>
      <h5>WHAT DOES THE FUTURE HOLD?</h5>
      <p>
        Learn about the vision for the Mungere School campus.
      </p>
      <div class="btns-wrapper">
        <a href="#" class="btn btn-big btn-solid"><span>Check out the school</span></a>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="../images/ourfocus_image1.jpg" />
    </div>
  </div>
</div>
