  <!-- Banner -->
  <div class="page-banner ourfocus">
    <div class="title-mask">
      <div class="container">
        <div class="banner-content">
          <h2>OUR FOCUS</h2>
          <div class="short-text">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-item-1col">
      <h2>1. QUALITY EDUCATION</h2>
      <p>Red Sweater Project's focus on quality education has set us apart since the beginning. Our success is not defined by the number of schools that we build, but by the eectiveness of our graduates as leaders in their communities. In 2013, Mungere students scored in the top quarter of schools in our region and second in the district. The Tanzania Ministry of Education has recognized Red Sweater Project as a successful school model that gets quick results, while having a long term vision.</p>
      <hr>
      <strong><h5>WHAT DOES THE FUTURE HOLD?</h5></strong>
      <p>
        Learn about the vision for the Mungere School campus.
      </p>
      <a href="#" class="btn btn-big btn-solid"><span>Check out the school</span></a>
    </div>
  </div>

  <div class="flex">
    <div class="flex-item-image">
      <img src="../images/ourfocus_genderequality.png" />
    </div>
  </div>
  <div class="flex">
    <div class="flex-item-1col">
      <h2>2. GENDER EQUALITY</h2>
      <p>Boys don’t respect girls just because they’re told to. Boys respect girls when
      they compete with them on a level playing field and see them win. Whether it’s in math, or on the soccer pitch, educating girls alongside boys can shift the thinking of an entire community.
      We see this come to life every day at the Mungere School. Girls who first walked in the door with heads hung low, and eyes glued to the floor blossom into confident, smart young women who know they are intelligent and capable leaders. The young men who learn and grow alongside them cannot help but be changed.</p>
      <hr>
      <strong><h5>TASIANA: A LEADER ON AND OFF THE PITCH</h5></strong>
      <p>
        Read one teacher's account of student Tasiana's journey to becoming captain of the boys soccer team, and the impact she is having on her teammates.
      </p>
      <div class="btns-wrapper">
        <a href="#" class="btn btn-big btn-solid"><span>READ TASIANA'S STORY</span></a>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="flex-item-image">
      <img src="../images/ourfocus_innovation.jpg" />
    </div>
  </div>
  <div class="flex">
    <div class="flex-item-1col">
      <h2>3. RESPONSIBLE INNOVATION</h2>
      <p>Learning to power a computer lab with the sun, to turn waste into compost, and to help students to study past sundown without using up the family's fuel supply are just a few examples of the types of problem solving Red Sweater Project loves. Teaching and implementing creative solutions using sustainable technologies, and working with innovative, thoughtful partners are ways we actively practice responsible innovation.</p>
      <br>
      <strong><h5>EXAMPLES CAN BE SEEN THROUGHOUT CAMPUS:</h5></strong>
      <ul>
        <li>• Composting toilets</li>
        <li>• An organic community farm</li>
        <li>• Solar-powered classrooms</li>
        <li>• Pocket-sized solar-powered lanterns used by students to study at night</li>
      </ul>
      <hr>
      <br>
      <strong><h5>PARTNER WITH US</h5></strong>
      <p>
        If you would like to partner with us, send us a note to <a>development@redsweaterproject.com</a>.
      </p>
    </div>
  </div>
  <div class="flex">
    <div class="flex-item-image">
      <img src="../images/ourfocus_innovation.jpg" />
    </div>
  </div>
  <div class="flex blue">
    <div class="flex-item-1col">
      <h2>PART OF A BIGGER STORY</h2>
      <h5>ALIGNED WITH THE UN’S GOALS FOR SUSTAINABLE DEVELOPMENT</h5>
      <p>The UN has set the new bar for success in global growth by defining 17 goals for sustainable development. At Red Sweater Project, we're delighted that we're already on track.</p>
      <br>
      <p><a href="#">Explore the Sustainable development goals to guide development actions from 2015-2030 ></a></p>
      <br>
      <strong><h5>HOW WE’RE CREATING CHANGE:</h5></strong>
      <ul>
        <li>• Increasing access to education is known to also lower poverty rates.</li>
        <li>• Providing sanitation and health services improves an entire community
        from within.</li>
        <li>• Hunger declines when community members utilize sustainable farming
        techniques.</li>
        <li>• Access to renewable energy resources, while teaching responsible
        consumption protect the environment while increasing access to technology.</li>
      </ul>
    </div>
  </div>

  <div class="flex">
    <div class="flex-item-2col yellow-bottom-left">
      <div class="twocol-left-text">
        <h2>OUR STORY</h2>
        <p>It’s a long way from Detroit to Tanzania. Hear how our founder first saw the potential in a red
          sweater, and see how far we’ve come since 2005.</p>
        <div class="btns-wrapper">
          <a href="#" class="btn btn-big btn-secondary"><span>READ TASIANA'S STORY</span></a>
        </div>
      </div>
    </div>
    <div class="flex-item-2col ourfocus_donate">
      <div class="twocol-right-text">
        <h2>BECOME A DONOR</h2>
        <p>Sending a girl in the developing world to secondary school has a higher return on investment than any other effort.*
        </p>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Choose your gift
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">25</a></li>
            <li><a href="#">50</a></li>
            <li><a href="#">100</a></li>
            <li><a href="#">500</a></li>
            <li><a href="#">1000</a></li>
          </ul>
          <p class="quote-source">
            <a href="*HTTP://IIPDIGITAL.USEMBASSY.GOV/ST/ENGLISH/PUBLICATION/2011/06/20110624094
            700AIDAN0.9995037.HTML#AXZZ3XPFM408W">*STATISTIC SOURCE</a>
          </p>
          <div class="btns-wrapper btn-yellow">
            <a href="#" class="btn btn-big btn-solid"><span>DONATE</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
