<div class="row">
  <div class="col-sm-4">
    <h5>1. QUALITY EDUCATION</h5>
    <p>makes a big dierence. It’s not enough to
    build buildings. Our certified teaching sta
    brings the classroom to life.</p>
  </div>
  <div class="col-sm-4">
    <h5>2. GENDER EQUALITY</h5>
    <p>isn’t learned in a book. It’s cultivated and
    experienced first-hand.</p>
  </div>
  <div class="col-sm-4">
    <h5>3. RESPONSIBLE INNOVATION</h5>
    <p>means making sure our impact in the local
    and global community is a positive one.</p>
  </div>


</div>
