<div class="page-banner ourstory">
  <div class="shadow-box">
    <div class="banner-content page-canvas page-title">
      <h2>Our Story</h2>
    </div>
  </div>
</div>
<div class="flex page-canvas">
  <div class="flex-item-1col">
    <h2>1. QUALITY EDUCATION</h2>
    <p>Red Sweater Project's focus on quality education has set us apart since the beginning. Our success is not defined by the number of schools that we build, but by the effectiveness of our graduates as leaders in their communities. In 2013, Mungere students scored in the top quarter of schools in our region and second in the district. The Tanzania Ministry of Education has recognized Red Sweater Project as a successful school model that gets quick results, while having a long term vision.</p>

  </div>
</div>
