<!-- <div class="page-banner redsweater">
  <div class="shadow-box">
    <div class="banner-content page-canvas page-title">
      <h2>The Red Sweater</h2>
    </div>
  </div>
</div> -->


<!-- <div class="flex">
  <div class="flex-item-image common-threads">
  </div>
</div> -->


<!-- <div class="yellow">
  <div class="flex page-canvas nowrap">
    <div class="flex-item-2col">
      <div class="twocol-left-text">
        <h2>BE A DONOR</h2>
        <p class="lead white-text">Help us to get kids into red sweaters, and off to school. Every dollar makes a difference.
        </p>
        <div class="dropdown"> -->
          <!-- <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Choose your gift
            <span class="caret"></span>
          </button> -->
          <!-- <div class="btns-wrapper">
            <%= link_to 'DONATE', new_charge_path, :class => "btn btn-solid" %>
          </div> -->
          <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">25</a></li>
            <li><a href="#">50</a></li>
            <li><a href="#">100</a></li>
            <li><a href="#">500</a></li>
            <li><a href="#">1000</a></li>
          </ul> -->
      <!-- </div>
    </div>
  </div>
    <div class="shadow nonmobile">
      <div class="flex-item-2col be-a-donor">
      </div>
    </div>
  </div>
</div>
<div class="shadow mobile">
  <div class="flex-item-2col be-a-donor">
  </div>
</div> -->
