<div class="page-banner redsweater">
  <div class="shadow-box">
    <div class="banner-content page-canvas title-only">
      <h2>THE RED SWEATER</h2>
    </div>
  </div>
</div>

<div class="flex page-canvas">
  <div class="flex-item-1col">
    <h2>IT STARTS WITH A SWEATER</h2>
    <p>
      At Red Sweater schools, students are taught creative problem solving and to
      use education to create new possibilities for themselves, their families, their
      villages, and their world. It's a ripple effect. And it starts with a red sweater.
    </p>
    <h5><strong>SO MUCH MORE THAN CLOTHING</strong></h5>
    <p>
      Our 360° approach helps students to thrive. Students receive medicine and care
      when they are sick, healthy meals at school, and a safe, supportive environment
      within the community.
    </p>
  </div>
</div>

<div class="flex">
  <div class="flex-item-image common-threads">
  </div>
</div>

<div class="blue">
  <div class="flex page-canvas">
    <div class="flex-item-1col">
      <h2>COMMON THREADS</h2>
      <p>
        Red and blue colors, traditionally worn by the Masaai, inspired the design of the school
        uniform, which includes red sweaters with blue skirts or pants. This design also represents our commitment to enhance&mdash;not replace&mdash;tribal heritage. For example, in addition to Algebra, our students learn modern organic farming methods to complement traditional farming techniques.
      </p>
    </div>
  </div>
</div>
<div class="yellow">
  <div class="flex page-canvas">
    <div class="flex-item-2col">
      <div class="twocol-left-text">
        <h2>BE A DONOR</h2>
        <p>Help us to get kids into red sweaters, and off to school. Every dollar makes a difference.
        </p>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Choose your gift
            <span class="caret"></span>
          </button>
          <div class="btns-wrapper">
            <a href="#" class="btn btn-solid"><span>DONATE</span></a>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">25</a></li>
            <li><a href="#">50</a></li>
            <li><a href="#">100</a></li>
            <li><a href="#">500</a></li>
            <li><a href="#">1000</a></li>
          </ul>
      </div>
    </div>
  </div>
    <div class="shadow nonmobile">
      <div class="flex-item-2col ourfocus_donate">
      </div>
    </div>
  </div>
</div>
<div class="shadow mobile">
  <div class="flex-item-2col ourfocus_donate">
  </div>
</div>
