<!-- Banner -->
<div class="page-banner team">
  <div class="shadow-box">
    <div class="banner-content page-canvas title-only">
      <h2>THE TEAM</h2>
    </div>
  </div>
</div>

<div class="flex">
  <div class="page-canvas">
      <div class="flex-item-staff">
        <h2>STAFF</h2>
      </div>
      <hr class="no-margin-bottom">
    <div class="flex-item-staff">
      <div>
        <div class="social-media-icons">
        <%= image_tag("event_detroit.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Ashley Holmer, </h5>
              <p><em>
                Founder and Executive Director
              </em></p>
            </div>
            <p id="ashley-details">
              In 2005, Ashley Holmer moved from Portland, Oregon, to Tanzania to work as an English teacher and soccer coach in a Maasai village. Toward the end of her year-long post, the leaders of a nearby village offered 20 acres of donated land on which to build the community’s first secondary school. Ten years later and Ashley has opened two secondary schools in rural areas of the country and serves as an advocate for girl’s education in Tanzania and around the world.
            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "ashley-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "ashley-arrow-up")%>
        </div>
        <hr>
        <div class="social-media-icons">
        <%= image_tag("event_detroit.jpg", :class => "staff-photo")%>
          <div>
            <h5 class="no-top-pad">Ashley Holmer, </h5>
            <p><em>
              Founder and Executive Director
            </em></p>
            <p>
              In 2005, Ashley Holmer moved from Portland, Oregon, to Tanzania to work as an English teacher and soccer coach in a Maasai village. Toward the end of her year-long post, the leaders of a nearby village offered 20 acres of donated land on which to build the community’s first secondary school. Ten years later and Ashley has opened two secondary schools in rural areas of the country and serves as an advocate for girl’s education in Tanzania and around the world.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
