.flex
  display: flex
  .admin-nav
    color: $body-type-grey
    position: fixed
    top: 200px
    z-index: 2
    left: 0
    width: 100%
    align-items: center
    justify-content: flex-end
    padding: 0 3%
    height: 30px
    background-color: $text-blue
    margin-top: 5px
    li
      a
        color: $body-type-grey
        list-style: none
        text-transform: uppercase
        padding-right: 20px
        padding-top: 2px
