.shadow-box
  display: flex
  align-items: center
  justify-content: flex-start
  padding: 1em 0 1em 0
  width: 100%
  max-height: 60%
  background: rgba(15, 15, 15, 0.65)
  z-index: 1

.shadow
  display: flex
  align-items: center
  justify-content: flex-start
  flex-wrap: wrap
  padding: 0
  width: 100%
  max-height: 60%
  background: rgba(15, 15, 15, 0.65)
  z-index: 1

.banner-content
  align-self: flex-start
  h5
    font-family: 'Proxima-nova', sans-serif
    font-weight: medium
    color: white
    padding: 2% 0 1% 0
    letter-spacing: 1px
    flex: 1
  h2
    font-family: 'Amatic SC', cursive
    font-weight: bold
    line-height: 1em
    color: #fff
    flex: 1

.page-canvas
  max-width: 960px
  margin: 0 auto
  padding: 0 15px
  height: auto

.title-only
  width: 960px
  margin: 0 auto
