<div class="col-sm-12">
  <% @instagram.each do |instagram| %>
  <div class="col-sm-2">
    <%= image_tag instagram.images.standard_resolution.url %>
  </div>
  <% end %>
</div>

<div id="instafeed">

</div>

<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: '<%=ENV['INSTAGRAM_USER_ID']%>',
        accessToken: '<%=ENV['INSTAGRAM_ACCESS_TOKEN']%>',
        filter: function(image) {
            return image.tags.indexOf('HAPPINESS') >= 0;
        }
    });
    feed.run();
</script>
