
.donation-type {
  width: 100px;
  margin-top: 0;
}


.col-sm-8 {
  img {
    width: 100%;
  }
}






.nivo-activator {
  display: block;
}

.row-space {
  margin-top: 20px;
}
/* 1.0 - UI Elements */
/* Buttons */






// .btn.btn-min {
//   font-size: 14px;
//   height: 35px;
//   padding: 0 15px;
//   line-height: 35px;
// }


.user-details {
  font-size: 1em;
  color: $body-type-grey;
}



.col-sm-4 .login {
  margin-top: 25%;
  height: 300px;
  margin-left: 30%;
  margin-right: auto;
  background-color: white;
}
