
.donation-type {
  width: 100px;
  margin-top: 0;
}

.ourfocus_donate, .sponsor_bottom, .subscribe, .be-a-donor, .ourstory, .ourfocus, .sponsor-a-student, .be-a-volunteer {
  color: white;
  text-shadow: 2px 2px 8px #333;
  p {
    color: white;
  }
  height: 100%;
  .btn, li {
    text-shadow: 0 0 0 #000;
  }
}

.ourfocus_donate {
  background: url(../images/ourfocus_donate.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.subscribe {
  background: url(../images/CTA/CTANewsletter_SignUp.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.be-a-donor {
  background: url(../images/CTA/CTABanner_BeADonor.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ourstory {
  background: url(../images/CTA/CTAOurStory_.jpeg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ourfocus {
  background: url(../images/CTA/CTABanner_OurFocus.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sponsor-a-student {
  background: url(../images/CTA/CTABanner_Sponsor.JPG) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.be-a-volunteer {
  background: url(../images/CTA/CTABanner_Volunteer.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.col-sm-8 {
  img {
    width: 100%;
  }
}






.nivo-activator {
  display: block;
}

.row-space {
  margin-top: 20px;
}
/* 1.0 - UI Elements */
/* Buttons */






// .btn.btn-min {
//   font-size: 14px;
//   height: 35px;
//   padding: 0 15px;
//   line-height: 35px;
// }


.user-details {
  font-size: 1em;
  color: $body-type-grey;
}



.col-sm-4 .login {
  margin-top: 25%;
  height: 300px;
  margin-left: 30%;
  margin-right: auto;
  background-color: white;
}
