@import "bootstrap-sprockets";
@import "bootstrap";


$body-type-grey: #6f6f6e;
$yellow: #febe10;
$hairline-grey: #dddddb;
$text-blue: #2877A0;
$text-red: #e61e26;

// RESET BOX-SIZING FOR THE DOC
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
// .....

hr {
  border-color: $yellow;
  margin-top: 30px;
  margin-bottom: 30px;
}

body {
  font-family: "proxima-nova", sans-serif;
  color: $body-type-grey;
  padding-bottom: 70px;
}

.col-sm-12 {
  img {
    width: 100%;
  }
}

.etsy {
  padding: 0;
  margin: 2% 2%;
  height: 550px;
  a { text-decoration: none; }
  img {
    padding-bottom: 10%;
  }
  .price {
    line-height: 2em;
    color: $text-blue;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
  p {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.etsy:hover {
  background-color: whitesmoke;
}

.admin-headline {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  padding-bottom: 0;
  color: white;
}

.admin-student-headline {
  margin-top: 5%;
}

.mobile-nav {
  display:none;
}

.flex.admin-nav {
  position: fixed;
  top: 96px;
  z-index: 1000;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: flex-end;;
  padding: 0 3%;
  height: 30px;
  background-color: $text-blue;
  margin-top: 5px;
  li a {
    color: $body-type-grey;
    list-style: none;
    text-transform: uppercase;
    padding-right: 20px;
    padding-top: 2px;
  }
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropdown {
    z-index: 1000;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 800;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 6px;
    margin-top: 0;
}

.dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li:hover {
  background-color: whitesmoke;
  a {
    text-decoration: none;
    color: $text-blue;
  }
}

.dropdown:hover .dropdown-content {
    display: block;
}

#instafeed {
  height: 300px;
}

#map-container {
   border-radius: 6px 6px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin: 60px auto 0 auto;
   border-width: 7px;
   background-color: white;
 }

.flex.bottom- {
  margin-top: 10%;
}

.post-content {
  p {
    padding-bottom: 10px;
  }

}

.logo-wrap {
  padding: 0px 0 0 15px;
  width: 20%;
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
}

// 3 COLUMN FLEXBOX
.flex {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
}
.dropdown-menu {
  top: 60px;
  width: 100%;
}

.mobile-menu {
  position: absolute;
  top: 45px;
  right: 0;
  display: none;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: #000; opacity: 0.92; filter: alpha(opacity=.86);    color: white;
  li {
    padding: 10px 20px;
    min-width: 300px;
    width: 100vw;
    a { color: white;
      text-decoration: none;
    }
  }
  li:hover {
    background-color: #666;
    a {
      color: $yellow;
    }
  }
  hr {
    border-color: white;
    opacity: .5;
    margin: 10px 20px;
  }
  strong {
    color: $yellow;
  }
}

@media screen and (max-width: 730px) {

  .flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex.page-canvas.items-wrap {
    justify-content: center;
  }

  .logo-wrap img {
    width: 100px;
  }
  .btn, .btn-secondary, .btn-solid {
    width: 100%;
    max-width: 350px;
  }

  #mobile-menu-icon {
    order: 1;
    display: block;
    z-index: 1000;
    width: 30px;
    margin: 0 15px;
  }

  .nav {
    order: 3;
    display: none;
  }

  .navigation .main-nav {
    height: 45px;
    align-items: center;
  }
  .container-body {
    position: relative;
    top: 35px;
    max-width: 960;
  }

  .flex-item-3col, .flex-item-2col {
    width: 100%;
    max-width: 350px;
    padding: 0 10px;
  }
  .flex-item-3col img {
    width: 100%;
    padding: 0;
    margin-top: 30px;
    border-radius: 10px;
  }


  .flex-item-2col {
    padding: 20px 0;
    p {
      width: 330px;
    }
  }

  .flex-item-2col:last-of-type {
    overflow: auto;
    width: 100vw;
    max-width: 100vw;
    height: 40vh;
  }

  .shadow.mobile {
    display: flex;
  }
  .shadow.nonmobile {
    display: none;
  }

  .flex-item-2col img {
    width: 100%;
    padding: 0px;
    height: 100%;
  }

  .flex-item-1col {
    margin: 10px 0;
    width: 90%;
    padding: 5%;
    flex-shrink: 1;
  }

  .page-canvas.btns-wrapper  {
    // padding-bottom: 60px;
    // margin: 0 auto;
  }

  #map-container, #volunteer-map-container {
     height: 50vh;
     width: 100%;
     padding: 10px 0;
     margin-top: 0;
  }
  #map{
    height: 45vh;
    width: 100%;
  }

  .mobile-hr {
    border-color: white;
    display: flex;
  }

  .mobile-hr.yellow-hr {
    border-color: $yellow;
  }

  .btn, input {
    min-width: 250px;
    max-width: 350px;
  }

  #small-logo, .social-media-icons {
    margin: 0 auto;
    padding: 0 auto;
  }

  footer > .footer-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    .links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .social-media-icons {
    display: flex;
    justify-content: center;
  }
}

.donate-right {
  h2 {
    font-family: 'Amatic SC', cursive;
  }
  width: 40%;
  color: white;
  margin-bottom: 2em;
  margin-right: 0;
  padding-right: 0;
}

@media screen and (max-width: 660px) {
  .footer-bar > .links {
    width: 100vw;
  }
  #volunteer-map-container {
    padding-top: 0;
  }
  .social-media-icons {
    width: 100vw;
  }
}

// ----END MOBILE MEDIA QUERY ---

  .page-canvas > .twocol-left-text {
    margin-left: 0;
  }

@media screen and (min-width: 731px) {

  .flex {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .logo-wrap img {
    max-width: 150px;
  }

  .btn, input {
    width: 32%;
    min-width: 250px;
    max-width: 350px;
  }

  #mobile-menu-icon {
    display: none;
  }

  .mobile-menu {
    display: none;
    visibility: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
    height: 75px;
    width: 100%;
  }

  .banner-content h2 {
    font-size: 3em;
  }
  .banner-content h5 {
    font-size: 1.5em;
  }

  .container-body {
    position: relative;
    top: 75px;
    max-width: 960;
  }

  .flex-item-3col {
    width: 32%;
    padding: 0 0 10px 0;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .space-around {
    margin: 0 5px;
    padding: 5px;

  }

  .flex-item-3col img {
    width: 100%;
    padding: 0;
    border-radius: 10px;
  }

  .flex-item-2col {
    width: 50vw;
    padding: 60px 30px 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .flex-item-2col:nth-child(1){
    padding-left: 20px;
  }

  .flex-item-2col:first-of-type {
    padding-left: 0;
  }

  .flex-item-2col img {
    width: 100%;
    padding: 0px;
    height: 100%;
    margin-bottom: 10px;
  }

  .shadow.mobile {
    display: none;
  }
  .shadow.nonmobile {
    display: flex;
  }

  .flex-item-1col {
    max-width: 800px;
    padding: 60px 0;
    flex-shrink: 1;
  }

  .flex.btns-wrapper  {
    padding: 0 0 60px 0;
    margin: 0;
  }
  .flex > .space-second:nth-of-type(2) {
    margin: 10px 20px;
  }

  .flex-item-3col.space-around {
    height: 600px;
  }

  #map-container {
     height: 500px;
     width: 50%;
     padding: 10px 0;
  }
  #volunteer-map-container {
     height: 500px;
     width: 100%;
     padding: 10px 0;
     display: flex;
     justify-content: center;
     margin-top: 60px;
  }
  #map{
    height: 475px;
    width: 100%;
    padding-top: 0;
  }

  .mobile-hr {
    display: none;
  }
  footer .footer-bar > .links {
    width: 75%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    a:first-of-type {
      margin-left: 20px;
    }
  }
  .footer-bar > .links {
    max-width: 600px;
  }
  .social-media-icons {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 0;
  }
}

// END DESKTOP MEDIA QUERY

@media screen and (max-width: 405px) {
  h2, p, h4 {
    max-width: 310px;
  }
  .banner-content h2 {
    font-size: 2.5em;
    line-height: 4em;
  }
  .banner-content h5 {
    font-size: 1em;
  }
  .btn, input {
    min-width: 250px;
    max-width: 90vw;
  }
  footer .footer-bar > .links {
    display: flex;
    justify-content: center;
    width: 90vw;
    a:first-of-type {
      padding-left: 0px;
    }
  }

  .flex-item-staff {
    .staff-photo {
      display: none;
    }
  }

  .flex-item-1col.intro {
    padding-left: 0;
  }
}

// END MOBILE PHONE MEDIA QUERY

.flex-item-1col.intro {
  padding-bottom: 0;
  margin-bottom: 0;
  max-width: 960px;
  margin-left: 0;
}

.flex-item-image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
}

.flex-item-staff {
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .article {
    width: 100%;
  }
  .social-media-icons {
    display: flex;
    justify-content: space-between;
    width: 80vw;
  }
  h2 {
    margin-top: 15px;
  }
  h2, hr, p {
    width: 100%;
  }
  h5 {
    margin-top: 0;
    font-variant: small-caps;
  }
  p em {
    padding-top: 10px;
  }
  .title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    padding: 10px 0;
    .name {
      width: 100%;
    }
  }
  img {
    display: inline;
    margin: 0 20px 0 0;
    width: 125px;
    height: 185px;
    border-radius: 0 0 6px 6px;
  }
  .arrow-down, .arrow-up {
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin: 10px 0 auto 10px;
  }
  #ashley-arrow-up,
  #ada-arrow-up,
  #joyce-arrow-up,
  #lindsay-arrow-up,
  #julia-arrow-up,
  #tim-arrow-up,
  #rachel-arrow-up,
  #zoe-arrow-up,
  #board-ada-arrow-up,
  #board-sarah-arrow-up,
  #board-alan-arrow-up,
  #board-erika-arrow-up,
  #advisory-jenny-arrow-up,
  #advisory-dede-arrow-up,
  #advisory-christine-arrow-up,
  #advisory-gary-arrow-up,
  #advisory-mark-arrow-up,
  #advisory-haley-arrow-up,
  #advisory-michele-arrow-up,
  #advisory-tony-arrow-up,
  #advisory-kimberly-arrow-up,
  #advisory-frank-arrow-up,
  #advisory-james-arrow-up,
  #advisory-vanessa-arrow-up,
  #advisory-arrow-up,
  #check-arrow-up img
   {
    display: none;
  }
}

.staff {
  margin: 60px 0 0 0;
  height: 100px;
}

#staff, #staff-arrow-up, #board, #board-arrow-up, #advisory-arrow-up, #advisory {
  display: none;
}

#staff-arrow-up, #staff-arrow-down,
#board-arrow-up, #board-arrow-down,
#advisory-arrow-up, #advisory-arrow-down
{
  width: 30px;
  height: 30px;
}
.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

#ashley-details,
#ada-details,
#joyce-details,
#lindsay-details,
#julia-details,
#tim-details,
#rachel-details,
#zoe-details,
#board-ada-details,
#board-sarah-details,
#board-alan-details,
#board-erika-details,
#advisory-jenny-details,
#advisory-christine-details,
#advisory-dede-details,
#advisory-gary-details,
#advisory-mark-details,
#advisory-haley-details,
#advisory-michele-details,
#advisory-kimberly-details,
#advisory-frank-details,
#advisory-james-details,
#advisory-vanessa-details,
#advisory-tony-details,
#check-donation-details
{
  display: none;
}

.flex.page-canvas.items-wrap {
  flex-wrap: wrap;
  margin-bottom: 60px;
  justify-content: center;
}

.yellow {
  background-color: $yellow;
  height: auto;
  h2 {
    color: white;
  }
}
.no-top-pad {
  padding: 0 30px 0 0;
}

.twocol-left-text {
  width: 480px;
  margin: 0 auto 0 0;
}

.ourfocus_donate, .sponsor_bottom {
  color: white;
  text-shadow: 2px 2px 8px #333;
  p {
    color: white;
  }
  height: 100%;
  .btn, li {
    text-shadow: 0 0 0 #000;
  }
}

.ourfocus_donate {
  background: url(../images/ourfocus_donate.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.col-sm-8 {
  img {
    width: 100%;
  }
}


.blue {
  background-color: $text-blue;
  height: auto;
  letter-spacing: .5px;
  color: white;
  padding: 0 0 60px 0;
  li, p, a {
    font-weight: 300;
    color: white;
    a:hover {
      text-decoration: underline;
    }
  }
}

.nav,
.nav a,
.nav ul,
.nav li,
.nav div, {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.nav a { text-decoration: none; }



.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
}

.main-nav.first-child {
  justify-content: flex-start;
}

.mega-menu {
  position: absolute;
  top: 76px;
  left: 0px;
  height: 350px;
  display: flex;
  justify-content: center;
}

.nav > li > a {
    z-index: 510;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #6f6f6f;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}


.nav > li:hover > a {
  color: $text-red;
  background: white;
}

.nav > li > div {
  position: absolute;
  width: 100%;
  left: 0px;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  background-color: #000; opacity: 0.86; filter: alpha(opacity=.86);

  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
}

.nav > li {
  position: static;
}

#menu-icon {
  width: 30px;
  margin-left: 20px;
}


.nav > li:hover > div {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    background-color: #000; opacity: 0.86; filter: alpha(opacity=.86);

    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}


.nav .nav-column {
    width: 20%;
    padding: 2.5% 3%;
}

.nav .nav-column h3 {
    margin: 0;
    line-height: 36px;

    font-family: "proxima-nova", sans-serif;
    font-weight: normal;
    font-size: 1.25em;
    color: $yellow;
    text-transform: uppercase;
}

.nav .nav-column li a {
    line-height: 32px;
    font-family: "proxima-nova", sans-serif;
    font-weight: lighter;
    font-size: 1em;
    color: #fff;
}

.nav .nav-column li a:hover { color: $yellow; }

/* General Styles */
h1,
h2,
h3,
h4,
h5,
p,
a,
li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
a,
button,
input,
textarea,
select,
blockquote {
  border: none;
  box-shadow: none;
  text-decoration: none;
  outline: 0;
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
  overflow-x: hidden;
  position: relative;
  margin: 0 0;
}

.quote-source a {
  color: white;
  font-size: .65em;
  text-shadow: 0 0 0 #000;
}

ul.padded li {
  padding: 5px 0;
}

/* Typography */
h1 {
  line-height: inherit;
}
h2 {
  font-size: 36px;
  font-weight: 200;
  line-height: 34px;
  padding-bottom: 10px;
}
h3 {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  line-height: 42px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding-top: 15px;
  line-height: 20px;
}
h6 {
  font-size: 13px;
  line-height: 13px;
}
p {
  font-size: 16px;
  line-height: 22px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  color: #6f6f6e;
}

.white-text {
  color: white;
}
.yellow-text {
  color: $yellow;
}

li {
  padding-bottom: 2px;
}

.nivo-activator {
  display: block;
}

.row-space {
  margin-top: 20px;
}
/* 1.0 - UI Elements */
/* Buttons */
.btn {
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: 'proxima-nova', sans-serif;
  margin: 20px auto 0 auto;
  height: 45px;
  padding: 0 25px;
  text-transform: uppercase;
}

#small-logo {
  width: 100px;
}

.btn.btn-secondary {
  display: flex;
  font-weight: 500;
  background: white;
  color: $text-blue;
  overflow: hidden;
  margin-left: 0;
  margin-bottom: 20px;
}

.with-bottom-padding {
  margin-bottom: 40px;
}

.btn.btn-solid {
  display: flex;
  margin: 20px 0;
  font-weight: 500;
  background: $text-blue;
  color: #fff;
  // overflow: hidden;
}
.btn.btn-solid:hover {
  background: #277096;
}

.btn.btn-yellow {
  display: flex;
  margin: 20px 0;
  font-weight: 500;
  background: white;
  color: $yellow;
  border: 1px solid $yellow;
  width: auto;
}

.btn.btn-yellow:hover {
  background: $yellow;
  color: #fff;
}

.btn.btn-min {
  font-size: 14px;
  height: 35px;
  padding: 0 15px;
  line-height: 35px;
}

label {
  margin-top: 1em;
}

.user-details {
  font-size: 1em;
  color: $body-type-grey;
}

h3 {
  font-weight: 100;
  font-size: 3em;
  color: $body-type-grey;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-left: 1%;
}

.col-sm-4 .login {
  margin-top: 25%;
  height: 300px;
  margin-left: 30%;
  margin-right: auto;
  background-color: white;
}

.sponsor-students-images{
  margin-top: 200px;
}

.sponsor-students {
  border: 1px solid $hairline-grey;
  border-radius: 5px;
  margin: 15px 10px;
  min-width: 275px;
  width: 30%;
  padding: 0;
  .btn.btn-yellow {
    margin: 10px auto;
    width: 20%;
  }
  p, h5 {
    padding-right: 20px;
    padding-left: 20px;
  }
  img {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
  }
}

.flex .center {
  justify-content: center;
}

#events-form, #position-change-form, #post-change-form {
  margin-top: 5%;
}

#change-form {
  margin-top: 8%;
  margin-left: 0;
}

#events-section, #positions-section {
  margin-bottom: 100px;
}

.sponsor-students:hover {
  border: 1px solid $yellow;
  .btn-default {
    background-color: $yellow;
    color: white;
    margin-top: 40px;
  }
}


.admin-student-view, .admin-events-view, .admin-causes-view {
  border-radius: 10px;
  border: 1px solid $hairline-grey;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 2% 1% 2% 2%;
  position: relative;
  #students {
    height: 325px;
  }
  h4 {
    margin-top: 5%;
  }
  img {
    width: 95%;
    padding-bottom: 10px;
    top: 0;
    left: 0;
  }
  p {
  padding-bottom: 10px;
  }
  a {
    line-height: 1.5em;
    text-decoration: none;
  }
}

.admin-events-view {
  height: 375px;
}
.admin-student-view {
  height: 325px;
}
.admin-causes-view {
  height: 500px;
}


.admin-student-view {
  .btn-default:hover {
    background-color: $yellow;
    color: white;
    border: 1px solid white;
  }
}






/* header */
header {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  z-index: 9998;
}

/* Section Name */
.section-name {
  text-align: left;
  margin-top: 10%;
}
.section-name h2 {
  text-transform: uppercase;
  color: #6f6f6e;
  font-family: 'proxima-nova', sans-serif;
  font-size: 38px;
  line-height: 38px;
  margin-bottom: .75em;
  padding-right: 20px;
  letter-spacing: 2px;
  font-weight: 300;
}

/* Parallax Maks*/
.shadow-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 0 1em 0;
  width: 100%;
  max-height: 60%;
  background: rgba(15, 15, 15, 0.65);
  z-index: 1;
}

.shadow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  max-height: 60%;
  background: rgba(15, 15, 15, 0.65);
  z-index: 1;
}

.banner-content {
  align-self: flex-start;
  h5 {
    font-family: 'Proxima-nova', sans-serif;
    font-weight: medium;
    color: white;
    padding: 2% 0 1% 0;
    letter-spacing: 1px;
    flex: 1;
  }
  h2  {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    line-height: 1em;
    color: #fff;
    flex: 1;
  }
}

.hidden { display: none; }


/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
margin-bottom: 2em;
border-radius: 6px;
height: 3em;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.form-horizontal {
  input, textarea {
    border: 1px solid #dddddb;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
  }

}

.rounded {
  border-radius: 6px 6px 6px 6px;
  height: 250px;
  padding: 20px;
  margin: 60px 0 20px 0;
}


.page-canvas {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  height: auto;
}

.title-only {
  width: 960px;
  margin: 0 auto;
}

.title-mask {
  .banner-content h2 {
    padding-top: 1%;
  }
  position: absolute;
  display: block;
  top: 75%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 25%;
  background: rgba(15, 15, 15, 0.65);
  z-index: 1;
}

.blue-donate {
  background-color: $text-blue;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  p {
    color: white;
  }
  h2 {
    text-align: left;
  }
}

.blue-donate, .lt-blue-donate {
  h5 {
    padding-top: 0;
    font-size: 1.5em;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
  }
}

.lt-blue-donate {
  background-color: $text-blue; opacity: 0.75; filter: alpha(opacity=.86);
  padding: 20px;
  padding-bottom: 60px;
  hr {
    border: .5px solid white;
  }
}

.donate-left {
  width: 70%;
  p {
    padding-bottom: 0;
    img {
    width: 20px;
    padding-left: 7px;
    }
  }
  padding-top: 60px;
  padding-right: 30px;
  form input {
    text-align: left;
  }

}

form.donate-left {
  width: 100%;
}

/* Page Banner */
.page-banner {
  display: flex;
  align-items: flex-end;
  position: relative;
  top: 0;
  left: 0;
  height: 400px;
  padding-top: 87px;
}

.home {
  background: url(../images/boyClassroom_1920x600.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.donate {
  background: url(../images/culture_club_margin.png) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.events {
  background: url(../images/group_wave.jpg) center bottom no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.creative {
  background: url(../images/kili.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tours {
  background: url(../images/redrhinotours.jpg) center bottom no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sponsor {
  background: url(../images/sponsor_sarahletter.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sponsor_bottom {
  background: url(../images/IMG_7055.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ourfocus {
  background: url(../images/ourfocus_banner.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.volunteer {
  background: url(../images/volunteer_banner.png) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.team {
  background: url(../images/leadership_banner.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.redsweater {
  background: url(../images/redsweater_banner.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*  2.0 - Navigations */
.navigation {
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}



li.donateBtn {
  background-color: #ac2827;
  border-radius: 6px;
  padding: 10px 10px;
  margin-right: 0px;
  color: white;
  height: 40px;
}
.menu li.donateBtn a {
  color: #ffffff!important;
  margin-right: 0px;
  padding: auto;
  a:hover {
    background: #ac2827;
  }
}

.flash {
  color: white;
  padding-right: 20px;
}
.navigation > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 2em;
  background-color: #333;
  li {
    display: inline;
    a {
      color: white;
      margin: 0 0 10px 0;
      padding: 20px 10px 0 0;
      font-size: .7em;
      font-weight: bold;
    }
  }
}

/* 13.0 - Footer*/
footer {
  height: 106px;
  border: none;
}

footer .footer-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  bottom:0;
  left:0;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  color: #e5e5e5;
  background: #161719;
  padding: 20px;
  width:100%;
  height: auto;
  z-index: 1;
  .links {
    a {
      color: white;
      text-decoration: none;
      padding: 10px 10px;
    }
    a:hover {
      color: $yellow;
    }
  }
  .social-media-icons {
    // margin: 20px;
    img {
      width: 25px;
      margin: 15px;
    }
  }
}

footer .copyright {
  width: 100%;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  justify-content: center;
  opacity: .8;
  text-align: center;
}

// NORMALIZE
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}
