html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
    -moz-box-sizing-box-sizing: border-box; }

hr {
  border-color: #febe10;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #febe10; }

.hr-white {
  border-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white; }

.hr-grey {
  border-color: #ccc;
  color: #ccc; }

#small-logo {
  width: 100px; }

#menu-icon {
  width: 30px;
  margin-left: 20px;
  margin-right: 20px; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.logo-wrap {
  padding: 0px 0px 0px 15px;
  width: 20%;
  display: flex;
  align-items: center;
  margin-right: 20px; }
  .logo-wrap img {
    width: 100%; }

.rounded {
  border-radius: 6px 6px 6px 6px;
  height: 250px;
  padding: 20px;
  margin: 60px 0 20px 0; }

/* header */
header {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  z-index: 9998; }

.page-canvas {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px; }
  .page-canvas .items-wrap {
    flex-wrap: wrap;
    margin-bottom: 60px;
    justify-content: center; }

.with-bottom-padding {
  margin-bottom: 40px; }

.no-margin-bottom {
  margin-bottom: 0; }

.no-margin-top {
  margin-top: 0; }

.flex.bottom {
  margin-top: 10%; }

.yellow {
  background-color: #febe10;
  height: auto; }
  .yellow h2 {
    color: white; }

.blue-text {
  color: #2877A0 !important; }
  .blue-text:hover {
    color: #febe10 !important; }

.no-top-pad {
  padding: 0 30px 0 0; }

/*flash */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left; }

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left; }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  margin-bottom: 2em;
  border-radius: 6px;
  height: 3em; }

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left; }

#privacy {
  margin-top: 100px; }

h1,
h2,
h3,
h4,
h5,
p,
a,
li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none; }

a,
button,
input,
textarea,
select,
blockquote {
  border: none;
  box-shadow: none;
  text-decoration: none;
  outline: 0;
  margin: 0;
  padding: 0; }

body {
  background: #ffffff;
  overflow-x: hidden;
  position: relative;
  margin: 0 0;
  font-family: "proxima-nova", sans-serif;
  color: #6f6f6e;
  padding-bottom: 70px; }

.quote-source a {
  color: white;
  font-size: 0.65em;
  text-shadow: 0 0 0 #000; }

h1 {
  line-height: inherit; }

h2 {
  font-size: 36px;
  font-weight: 200;
  line-height: 34px;
  padding-bottom: 10px;
  margin-bottom: 10px; }

h3 {
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: #6f6f6e;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  margin-top: 2em; }

h4 {
  font-size: 24px;
  line-height: 42px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px; }

h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding-top: 15px;
  line-height: 20px; }

h6 {
  font-size: 13px;
  line-height: 13px; }

p, li {
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  color: #6f6f6e; }

.white-text {
  color: white; }

.yellow-text {
  color: #febe10; }

.ltyellow-text {
  color: #F2E872; }

ul li {
  padding-bottom: 12px;
  line-height: 1.5em; }
ul .padded li {
  padding: 5px 0; }

.blue {
  background-color: #2877A0;
  height: auto;
  letter-spacing: 0.5px;
  color: white;
  padding: 0 0 60px 0; }
  .blue a {
    color: white;
    border-bottom: 1px solid white; }
  .blue li, .blue p, .blue h3 {
    font-weight: 300;
    color: white; }
    .blue li a:hover, .blue p a:hover, .blue h3 a:hover {
      text-decoration: underline; }

.btn-secondary {
  background-color: white;
  color: #2877A0;
  overflow: hidden;
  width: auto;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: "proxima-nova", sans-serif;
  height: 45px;
  padding: 12px 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .btn-secondary:hover, .btn-secondary:focus {
    background-color: #f2f2f2;
    color: #2877A0; }
  .btn-secondary:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.btn-solid {
  background-color: #2877A0;
  color: white;
  border: 0;
  width: auto;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: "proxima-nova", sans-serif;
  height: 45px;
  padding: 12px 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .btn-solid:hover, .btn-solid:focus {
    background-color: #246b90;
    color: #fff; }
  .btn-solid:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.btn-yellow {
  background: white;
  color: #febe10;
  border: 1px solid #febe10;
  margin: 15px 15px 0 15px;
  width: auto;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: "proxima-nova", sans-serif;
  height: 45px;
  padding: 12px 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .btn-yellow:hover {
    background: #fec528;
    color: #fff; }
  .btn-yellow:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.btn-grey {
  background: white;
  color: #6f6f6e;
  border: 1px solid #6f6f6e;
  width: auto;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: "proxima-nova", sans-serif;
  height: 45px;
  padding: 12px 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .btn-grey:hover {
    background: #7d7d7d;
    color: #fff; }
  .btn-grey:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

#btn-donate {
  background: #febe10;
  color: white;
  padding: 1px auto;
  font-size: 1em;
  border-radius: 25px; }
  #btn-donate:hover {
    background-color: white;
    color: #febe10;
    border: 1px solid #febe10; }

#btn-sponsor {
  color: #febe10;
  background-color: white;
  border: 1px solid #febe10;
  padding: 1px auto;
  font-size: 1em;
  border-radius: 25px; }
  #btn-sponsor:hover {
    background-color: #febe10;
    color: white; }

li .btn-donate {
  color: white; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 800;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-top: 0; }
  .dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content li:hover {
      background-color: whitesmoke; }
      .dropdown-content li:hover a {
        text-decoration: none;
        color: #2877A0; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown {
  z-index: 1000;
  position: relative;
  display: inline-block; }

.dropdown-admin {
  margin-top: 200px; }

.dropdown-menu {
  top: 60px;
  width: 100%; }

.navigation {
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  position: relative; }
  .navigation li .donateBtn {
    background-color: #ac2827;
    border-radius: 6px;
    padding: 10px 10px;
    margin-right: 0px;
    color: white;
    height: 40px; }

.menu li .donateBtn a {
  color: #ffffff !important;
  margin-right: 0px;
  padding: auto; }
  .menu li .donateBtn a:hover {
    background: #ac2827; }

.flash {
  color: white;
  padding-right: 20px; }

.navigation > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 2em;
  background-color: #333; }
  .navigation > ul li {
    display: inline; }
    .navigation > ul li a {
      color: white;
      margin: 0 0 10px 0;
      padding: 20px 10px 0 0;
      font-size: 0.7em;
      font-weight: bold; }

.flex {
  display: flex; }
  .flex .admin-nav {
    color: #6f6f6e;
    position: fixed;
    top: 200px;
    z-index: 2;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3%;
    height: 30px;
    background-color: #2877A0;
    margin-top: 5px; }
    .flex .admin-nav li a {
      color: #6f6f6e;
      list-style: none;
      text-transform: uppercase;
      padding-right: 20px;
      padding-top: 2px; }

.nav,
.nav a,
.nav ul,
.nav li,
.nav div {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

.nav a {
  text-decoration: none; }

.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative; }

.main-nav.first-child {
  justify-content: flex-start; }

.mega-menu {
  position: absolute;
  top: 76px;
  left: 0px;
  height: 350px;
  display: flex;
  justify-content: center; }

.nav > li > a {
  z-index: 510;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-size: .75em;
  color: #6f6f6f;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease; }

#nav .topnav {
  position: relative; }

#nav a:hover {
  text-decoration: none; }

#nav .topnav ul {
  background-color: white;
  list-style: none;
  position: absolute;
  left: -9999px;
  width: 140px; }

.topnav ul li {
  padding: 10px;
  float: none;
  font-size: .75em; }

#nav ul a {
  white-space: nowrap; }

#nav li:hover ul {
  left: 0;
  width: 140px; }

.topnav li:hover {
  background-color: whitesmoke; }

#nav li:hover ul a {
  text-decoration: none; }

.nav > li:hover > a {
  color: #e61e26; }

.nav > li > div {
  position: absolute;
  width: 100%;
  left: 0px;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background-color: #000;
  opacity: 0.86;
  filter: alpha(opacity=0.86);
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s; }

.nav > li {
  position: static; }

.nav > li:hover > div {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  background-color: #000;
  opacity: 0.86;
  filter: alpha(opacity=0.86);
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s; }

.nav .nav-column {
  width: 20%;
  padding: 2.5% 3%; }

.nav .nav-column h3 {
  margin: 0;
  line-height: 32px;
  font-family: "proxima-nova", sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  color: #febe10;
  text-transform: uppercase; }

.nav .nav-column li a {
  line-height: 32px;
  font-family: "proxima-nova", sans-serif;
  font-weight: lighter;
  font-size: .75em;
  color: #fff; }

.nav .nav-column li a:hover {
  color: #febe10; }

.mobile-menu {
  position: absolute;
  top: 45px;
  right: 0;
  display: none;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: rgba(0, 0, 0, 0.92);
  color: white; }
  .mobile-menu li {
    padding: 10px 20px;
    min-width: 300px;
    width: 100vw; }
    .mobile-menu li:hover {
      background-color: #666; }
      .mobile-menu li:hover a {
        color: #febe10; }
    .mobile-menu li a {
      color: white;
      text-decoration: none; }
  .mobile-menu hr {
    border-color: white;
    opacity: 0.5;
    margin: 10px 20px; }
  .mobile-menu strong {
    color: #febe10; }

#map-container {
  border-radius: 6px 6px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin: 60px auto 0 auto;
  border-width: 7px;
  background-color: white; }

.shadow-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 0 1em 0;
  width: 100%;
  max-height: 60%;
  background: rgba(15, 15, 15, 0.75);
  z-index: 1; }

.shadow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  max-height: 60%;
  background: rgba(15, 15, 15, 0.75);
  z-index: 1; }

.banner-content {
  align-self: flex-start; }
  .banner-content h3 {
    margin-top: 10px; }
  .banner-content h5 {
    font-family: "Proxima-nova", sans-serif;
    font-weight: medium;
    color: #F2E872;
    padding: 2% 0 1% 0;
    letter-spacing: 1px; }
  .banner-content h2 {
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    line-height: 1em;
    color: #fff;
    font-size: 48px; }

.page-banner {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 400px;
  top: 0;
  left: 0;
  padding-top: 87px; }

.title-mask {
  position: absolute;
  display: block;
  top: 75%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 25%;
  background: rgba(15, 15, 15, 0.65);
  z-index: 1; }
  .title-mask .banner-content h2 {
    padding-top: 1%; }

.common-threads {
  height: 200px;
  background: url(../images/redsweater_commonthread.png) top center no-repeat;
  background-attachment: fixed;
  background-size: auto; }

.home {
  background: url(../images/hero/hero_home.jpg) center center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.donate {
  background: url(../images/hero/hero_donate.jpg) center center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.events {
  background: url(../images/hero/hero_events.jpg) center top;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.the-school {
  background: url(../images/hero/theschool.jpg) center center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.bloghero {
  background: url(../images/hero/hero_blog.jpg) center center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.news {
  background: url(../images/hero/hero_news.jpg) center center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.creative {
  background: url(../images/hero/hero_getcreative.jpg) center center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.connect {
  background: url(../images/hero/hero_connect.jpg) center center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.sponsor {
  background: url(../images/hero/hero_sponsor.jpg) center center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.ourfocus {
  background: url(../images/hero/hero_ourfocus_lo.jpg);
  background-position: center bottom;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.ourstory {
  background: url(../images/hero/hero_ourstory.jpg);
  background-position: right center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.volunteer {
  background: url(../images/hero/hero_volunteer_lo.jpg) center center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.team {
  background: url(../images/hero/hero_ourteam.jpg) center center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

footer {
  height: 106px;
  border: none; }
  footer .footer-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    color: #e5e5e5;
    background: #161719;
    padding: 20px;
    width: 100%;
    height: auto;
    z-index: 1; }
    footer .footer-bar .links a {
      color: white;
      text-decoration: none;
      padding: 10px 10px; }
      footer .footer-bar .links a:hover {
        color: #febe10; }
    footer .footer-bar img {
      width: 25px;
      margin: 15px; }
  footer .copyright {
    width: 100%;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: center;
    opacity: 0.8;
    text-align: center; }

.form-horizontal input, .form-horizontal textarea {
  border: 1px solid whitesmoke;
  width: 100%;
  padding: 10px;
  border-radius: 6px; }

label {
  margin-top: 1em; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.5em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5em; }

input,
select,
textarea {
  display: block;
  font-family: "Proxima-nova", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  appearance: none;
  background-color: white;
  border: .5px solid whitesmoke;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 10px;
  transition: border-color 2 500;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
    border-color: #666666; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
    border-color: #febe10;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: dimgray;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: .5px solid whitesmoke; }
  input[type="color"]::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #a9a9a8; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.5em;
  width: 25px; }

[type="file"] {
  margin-bottom: 1em;
  width: 100%; }

select {
  margin-bottom: 1em;
  width: 100%; }

@media screen and (max-width: 730px) {
  .flex {
    flex-wrap: wrap;
    justify-content: center; }

  .banner-content h3 {
    margin-bottom: 0; }
  .banner-content h2 {
    font-size: 2.5em;
    line-height: 1.2em; }

  .flex.page-canvas.items-wrap {
    justify-content: center;
    flex-wrap: wrap; }

  .logo-wrap img {
    width: 100px; }

  .btn, .btn-secondary, .btn-solid {
    width: 100%;
    max-width: 350px; }

  #mobile-menu-icon {
    order: 1;
    display: block;
    z-index: 1000;
    width: 30px;
    margin: 0 15px; }

  .nav {
    order: 3;
    display: none; }

  .navigation .main-nav {
    height: 45px;
    align-items: center; }

  .container-body {
    position: relative;
    top: 35px;
    max-width: 960; }

  .flex-item-3col, .flex-item-2col {
    width: 100%;
    max-width: 350px;
    padding: 0 10px; }

  .flex-item-3col img {
    width: 100%;
    padding: 0;
    margin-top: 30px;
    border-radius: 10px; }

  .flex-item-2col {
    padding: 20px 0; }
    .flex-item-2col p {
      width: 330px; }

  .flex-item-2col:last-of-type {
    overflow: auto;
    width: 100vw;
    max-width: 100vw;
    height: 40vh; }

  .shadow.mobile {
    display: flex; }

  .shadow.nonmobile {
    display: none; }

  .flex-item-2col img {
    width: 100%;
    padding: 0px;
    height: 100%; }

  .flex-item-1col {
    margin: 10px 0;
    width: 90%;
    padding: 5%;
    flex-shrink: 1; }

  .page-canvas
  .btns-wrapper {
    width: auto;
    margin: 0 auto; }

  #map-container, #volunteer-map-container {
    height: 50vh;
    width: 100%;
    padding: 10px 0;
    margin-top: 0; }

  #map {
    height: 45vh;
    width: 100%; }

  .mobile-hr {
    border-color: white;
    display: flex; }

  .mobile-hr.yellow-hr {
    border-color: #febe10; }

  .btn, input {
    max-width: 350px; }

  #small-logo, .social-media-icons {
    margin: 0 auto;
    padding: 0 auto; }

  footer > .footer-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 200px; }
    footer > .footer-bar .links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }

  .social-media-icons {
    display: flex;
    justify-content: center; } }
@media screen and (max-width: 660px) {
  .footer-bar > .links {
    width: 100vw; }

  #volunteer-map-container {
    padding-top: 0; }

  .social-media-icons {
    width: 100vw; } }
@media screen and (min-width: 731px) {
  .page-title {
    width: 960px; }

  .flex {
    max-width: 960px;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .flex .col-sm-9 {
      justify-content: flex-start; }

  .flex + .focus-items + .items-nowrap {
    flex-wrap: nowrap; }

  #nowrap {
    flex-wrap: nowrap; }

  .logo-wrap img {
    max-width: 150px; }

  #mobile-menu-icon {
    display: none; }

  .mobile-menu {
    display: none;
    visibility: none; }

  .top-nav {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    position: relative;
    z-index: 5;
    padding-top: 20px; }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
    height: 75px;
    width: 100%; }

  #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
    height: 75px;
    width: 100%; }

  .container-body {
    position: relative;
    top: 75px; }

  .flex-item-3col {
    width: 32%;
    padding: 0 0 10px 0;
    margin-top: 10px;
    margin-bottom: 20px; }

  .space-around {
    margin: 0 5px;
    padding: 5px; }

  .flex-item-3col img {
    width: 100%;
    padding: 0;
    border-radius: 10px; }

  .flex-item-2col {
    width: 50vw;
    padding: 60px 30px 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }

  .flex-item-2col:nth-child(1) {
    padding-left: 20px; }

  .flex-item-2col:first-of-type {
    padding-left: 0; }

  .flex-item-2col img {
    width: 100%;
    padding: 0px;
    height: 100%;
    margin-bottom: 10px; }

  .shadow.mobile {
    display: none; }

  .shadow.nonmobile {
    display: flex; }

  .flex-item-1col {
    padding: 60px 0;
    margin: 0 auto;
    flex-shrink: 1;
    max-width: 960px; }

  .intro {
    padding-bottom: 0; }

  .flex.btns-wrapper {
    padding: 0 0 60px 0;
    margin: 0; }

  .flex > .space-second:nth-of-type(2) {
    margin: 10px 20px; }

  .flex-item-3col.space-around {
    height: 600px; }

  #map-container {
    height: 500px;
    width: 50%;
    padding: 10px 0; }

  #volunteer-map-container {
    height: 500px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    margin-top: 60px; }

  #map {
    height: 475px;
    width: 100%;
    padding-top: 0; }

  .mobile-hr {
    display: none; }

  footer .footer-bar .links {
    width: 75%;
    display: flex;
    justify-content: space-between; }
  footer .footer-bar .links {
    max-width: 500px; }
  footer .footer-bar .social-media-icons {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 0; } }
.etsy a {
  text-decoration: none;
  color: #6f6f6e; }
.etsy h5 {
  color: #6f6f6e; }
.etsy img {
  padding-bottom: 10%; }
.etsy .price {
  line-height: 2em;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%; }
.etsy p {
  padding-left: 5%;
  padding-right: 5%; }

.admin-headline {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  padding-bottom: 0;
  color: white; }

.admin-student-headline {
  margin-top: 5%; }

#change-form, #position-change-form {
  width: 300px;
  padding: 1em 2em;
  background-color: whitesmoke;
  border-radius: 4px;
  margin-top: 0 !important; }
  #change-form .btn-solid, #position-change-form .btn-solid {
    margin-bottom: 10px; }

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer; }

.admin-student-view,
.admin-events-view,
.admin-causes-view {
  border-radius: 10px;
  border: 1px solid #dddddb;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px; }
  .admin-student-view h4,
  .admin-student-view p,
  .admin-student-view a,
  .admin-events-view h4,
  .admin-events-view p,
  .admin-events-view a,
  .admin-causes-view h4,
  .admin-causes-view p,
  .admin-causes-view a {
    margin-left: 20px; }
  .admin-student-view h4,
  .admin-events-view h4,
  .admin-causes-view h4 {
    margin-top: 5%;
    color: #2877A0;
    letter-spacing: normal; }
  .admin-student-view img,
  .admin-events-view img,
  .admin-causes-view img {
    border-radius: 5px 5px 0px 0px;
    width: 95%;
    padding-bottom: 10px;
    padding-top: 10px;
    top: 0;
    left: 0; }
  .admin-student-view p,
  .admin-events-view p,
  .admin-causes-view p {
    margin-bottom: 20px; }
  .admin-student-view a,
  .admin-events-view a,
  .admin-causes-view a {
    line-height: 1.5em;
    text-decoration: none; }

#events-form, #post-change-form {
  margin-top: 5%; }

#position-change-form {
  margin-top: -50px; }

#change-form {
  margin-top: 8%;
  margin-left: 0; }

#events-section, #positions-section {
  margin-bottom: 100px; }

.red {
  color: #e61e26; }

.col-sm-4 a {
  padding-top: 5px; }

.post-content p {
  padding-bottom: 10px; }

.donate-right {
  width: 30%;
  color: white;
  margin-bottom: 2em;
  margin-right: 0;
  padding-right: 0; }
  .donate-right h2 {
    font-family: 'Amatic SC', cursive; }

.blue-donate {
  background-color: #2877A0;
  padding: 40px 20px 40px 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .blue-donate p {
    color: white; }
  .blue-donate h2 {
    text-align: left; }

.blue-donate h5, .lt-blue-donate h5 {
  padding-top: 0;
  font-size: 1.5em;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 1px; }

.lt-blue-donate {
  background-color: #2877A0;
  opacity: 0.75;
  filter: alpha(opacity=0.86);
  padding: 40px 20px 60px 20px; }
  .lt-blue-donate hr {
    border: .5px solid white; }

.donate-left {
  width: 70%;
  padding-top: 40px;
  padding-right: 30px; }
  .donate-left p {
    padding-bottom: 0; }
    .donate-left p img {
      width: 20px;
      padding-left: 7px; }
  .donate-left form input {
    text-align: left; }

form.donate-left {
  width: 100%; }

.sponsor-students:hover {
  border: 1px solid #febe10; }
  .sponsor-students:hover .btn-default {
    background-color: #febe10;
    color: white;
    margin-top: 40px; }

.sponsor-students-images {
  margin-top: 200px; }

.sponsor-students {
  border: 1px solid #dddddb;
  border-radius: 5px;
  margin: 15px 10px;
  min-height: 575px;
  min-width: 275px;
  padding: 0 0 20px 0;
  position: relative; }
  .sponsor-students .btn.btn-yellow {
    position: absolute;
    bottom: 1em;
    width: 90%; }
  .sponsor-students h3, .sponsor-students h5 {
    margin: 15px 0 0 15px; }
  .sponsor-students h2, .sponsor-students h5, .sponsor-students p {
    padding: 0 20px; }
    .sponsor-students h2 a, .sponsor-students h5 a, .sponsor-students p a {
      padding-left: 0; }
  .sponsor-students img {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px 5px 0 0; }
  .sponsor-students a {
    padding-left: 20px;
    padding-bottom: 20px; }
  .sponsor-students .imagelink {
    padding: 0 !important; }

.sponsor-project {
  min-height: 600px !important;
  max-width: 450px; }
  .sponsor-project .copy-bottom {
    position: absolute;
    bottom: 4em; }

@media screen and (max-width: 405px) {
  .page-banner .shadow-box {
    max-height: 80%; }

  .flex {
    flex-wrap: wrap; }
    .flex .flex-item-1col {
      width: auto; }

  h2, p, h4 {
    max-width: 310px; }

  .banner-content h3 {
    margin-left: 0;
    margin-bottom: .25em; }

  .btn, input {
    min-width: 250px;
    max-width: auto; }

  footer .footer-bar > .links {
    display: flex;
    justify-content: center;
    width: 90vw; }
    footer .footer-bar > .links a:first-of-type {
      padding-left: 0px; }

  .flex-item-staff .staff-photo {
    display: none; } }
.flex {
  max-width: 960px;
  display: flex;
  padding-top: 0; }
  .flex .col-sm-9 {
    justify-content: flex-start; }
  .flex .center {
    justify-content: center; }

.flex-item-1col {
  padding: auto 0; }
  .flex-item-1col .intro {
    padding-bottom: 0;
    margin: 40px 0 0 0; }

.flex-item-image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto; }
  .flex-item-image img {
    width: 100%;
    height: auto; }

.twocol-left-text {
  width: 480px;
  margin: 0 auto 2.5em 0; }

.page-canvas > .twocol-left-text {
  margin-left: 0; }

.nowrap {
  flex-wrap: nowrap !important; }

#ashley-arrow-up,
#ada-arrow-up,
#lindsay-arrow-up,
#julia-arrow-up,
#kelsey-arrow-up,
#faye-arrow-up,
#tim-arrow-up,
#board-ada-arrow-up,
#board-sarah-arrow-up,
#board-alan-arrow-up,
#board-erika-arrow-up,
#board-john_n-arrow-up,
#advisory-jenny-arrow-up,
#advisory-dede-arrow-up,
#advisory-christine-arrow-up,
#advisory-gary-arrow-up,
#advisory-mark-arrow-up,
#advisory-haley-arrow-up,
#advisory-michele-arrow-up,
#advisory-tony-arrow-up,
#advisory-kimberly-arrow-up,
#advisory-frank-arrow-up,
#advisory-james-arrow-up,
#advisory-vanessa-arrow-up,
#advisory-arrow-up {
  display: none; }

.staff {
  margin: 60px 0 0 0;
  height: 100px; }

#staff, #staff-arrow-up, #board, #board-arrow-up, #advisory-arrow-up, #advisory {
  display: none; }

#staff-arrow-up,
#staff-arrow-down,
#board-arrow-up,
#board-arrow-down,
#advisory-arrow-up,
#advisory-arrow-down {
  width: 30px;
  height: 30px; }

#ashley-details,
#ada-details,
#lindsay-details,
#julia-details,
#kelsey-details,
#faye-details,
#tim-details,
#board-ada-details,
#board-sarah-details,
#board-alan-details,
#board-erika-details,
#board-john_n-details,
#advisory-jenny-details,
#advisory-christine-details,
#advisory-dede-details,
#advisory-gary-details,
#advisory-mark-details,
#advisory-haley-details,
#advisory-michele-details,
#advisory-kimberly-details,
#advisory-frank-details,
#advisory-james-details,
#advisory-vanessa-details,
#advisory-tony-details,
#check-donation-details,
#change-donation,
#check-arrow-up,
#change-arrow-up {
  display: none; }

.flex-item-staff {
  max-width: 960px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .flex-item-staff .article {
    width: 100%; }
  .flex-item-staff .social-media-icons {
    display: flex;
    max-width: 960px;
    justify-content: space-between;
    width: 80vw; }
  .flex-item-staff h2 {
    margin-top: 15px; }
  .flex-item-staff h2, .flex-item-staff hr, .flex-item-staff p {
    width: 100%; }
  .flex-item-staff h5 {
    margin-top: 0;
    font-variant: small-caps; }
  .flex-item-staff p em {
    padding-top: 10px; }
  .flex-item-staff .title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    padding: 10px 0; }
    .flex-item-staff .title .name {
      width: 100%; }
  .flex-item-staff .staff-photo {
    display: inline;
    margin: 0 20px 0 0;
    width: 125px;
    height: 185px;
    border-radius: 0 0 6px 6px; }

.arrow-down, .arrow-up {
  width: 20px;
  height: 20px;
  border-radius: 0;
  margin: 10px 0 auto 10px; }

.contact-details .social-media-icons {
  display: flex;
  flex-wrap: nowrap; }

.icon {
  color: white;
  font-size: 36px;
  max-width: 50px;
  margin: 0px 10px; }
  .icon:hover {
    color: #febe10; }

.timeline h1 {
  margin-bottom: 40px; }
.timeline h3 {
  margin-top: 0; }
.timeline .col-sm-4 {
  width: 300px; }
.timeline .col-sm-8 {
  width: 600px; }

.donation-type {
  width: 100px;
  margin-top: 0; }

.col-sm-8 img {
  width: 100%; }

.blog, .sponsor_bottom, .subscribe, .be-a-donor, .ourstory_CTA, .ourfocus_CTA, .sponsor-a-student, .be-a-volunteer, .blog_CTA {
  color: white;
  text-shadow: 2px 2px 8px #333;
  height: 100%; }
  .blog p, .sponsor_bottom p, .subscribe p, .be-a-donor p, .ourstory_CTA p, .ourfocus_CTA p, .sponsor-a-student p, .be-a-volunteer p, .blog_CTA p {
    color: white; }
  .blog .btn, .blog li, .sponsor_bottom .btn, .sponsor_bottom li, .subscribe .btn, .subscribe li, .be-a-donor .btn, .be-a-donor li, .ourstory_CTA .btn, .ourstory_CTA li, .ourfocus_CTA .btn, .ourfocus_CTA li, .sponsor-a-student .btn, .sponsor-a-student li, .be-a-volunteer .btn, .be-a-volunteer li, .blog_CTA .btn, .blog_CTA li {
    text-shadow: 0 0 0 #000; }

.blog_CTA {
  background: url(../images/CTA/CTA_Blog.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.subscribe {
  background: url(../images/CTA/CTANewsletter_SignUp_lo.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.be-a-donor {
  background: url(../images/CTA/CTABanner_BeADonor_lo.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.ourstory_CTA {
  background: url(../images/CTA/CTAOurStory_lo.jpeg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.ourfocus_CTA {
  background: url(../images/CTA/CTABanner_OurFocus_lo.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.sponsor-a-student {
  background: url(../images/CTA/CTABanner_Sponsor_lo.JPG) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.be-a-volunteer {
  background: url(../images/CTA/CTABanner_Volunteer_lo.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.startssweater img {
  width: 100%;
  border-radius: 10px; }

.col-sm-3 .fa, .col-sm-5 .fa {
  font-size: 72px;
  line-height: 42px;
  padding: 12px 0 24px 0;
  margin: 0 auto; }
.col-sm-3 .fa-heartbeat, .col-sm-5 .fa-heartbeat {
  color: #e61e26; }
.col-sm-3 .fa-cutlery, .col-sm-5 .fa-cutlery {
  color: #febe10; }
.col-sm-3 .fa-graduation-cap, .col-sm-5 .fa-graduation-cap {
  color: #2877A0; }

.nivo-activator {
  display: block; }

.row-space {
  margin-top: 20px; }

/* 1.0 - UI Elements */
/* Buttons */
.user-details {
  font-size: 1em;
  color: #6f6f6e; }

.col-sm-4 .login {
  margin-top: 25%;
  height: 300px;
  margin-left: 30%;
  margin-right: auto;
  background-color: white; }

/*# sourceMappingURL=application.css.map */
