<div class="page-banner redsweater">
  <div class="title-mask">
    <div class="container">
      <div class="banner-content">
        <h2>SHOP + SUPPORT</h2>
        <div class="short-text">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Intro -->
<div class="flex">
  <div class="flex-item-1col">
    <h2>LOVE TANZANIA</h2>
        <p>Browse jewelry hand-crafted by local artists in Tanzania, or pick up some gear to support the Mungere Red Rhinos! For every purchase made, 100% of profits go directly to programs at the Mungere School campus.</p>
        <hr>
    </div>
  </div>


<div class="container">
  <div class="col-sm-12">
    <% if @listings.any? %>
      <% @listings.each do |listing| %>
      <div class="col-sm-3 etsy">
        <a href="<%= listing.url %>">
        <%= image_tag(listing.images.first.full) %>
        <p><%=listing.title%></p>
        <p class="price">$<%= listing.price %></p>
      </a>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
