<p>This privacy policy discloses the privacy practices for Red Sweater Project. This privacy policy applies solely to information collected by this web site.</p><br/>
<p><strong>Information Collection, Use and Sharing</strong><br/>
  Red Sweater Project is the sole owner of information collected on these sites and only collects information you voluntarily provide via email or other direct contact. Red Sweater Project will not share, sell or rent this information to anyone, including any third party, other than as necessary to fulfill your request. Unless you request otherwise, Red Sweater Project may contact you via email to provide information you may find helpful.
</p><br/>
<p><strong>Access to and Control Over Information</strong><br/>
  You may opt out of any future contact from Red Sweater Project at any time by contacting us via the email address or phone number provided at the bottom of each website page.  In addition, you may contact Red Sweater Project to
  • See what data we have about you, if any;
  • Change/correct any data we have about you;
  • Request that we delete any data we have about you, or
  • Express any concern you have about our use of your data.
</p><br/>
<p><strong>Security</strong><br/>
  Red Sweater Project takes precautions to protect your information.  When you submit sensitive information via the website, it is protected both online and offline. Wherever Red Sweater Project collects sensitive information (such as credit card data), that information is encrypted and transmitted to Red Sweater Project in a secure way.  You can verify this by looking for a closed lock icon at the bottom of your web browser or by looking for “https” at the beginning of the address of the web page.  While Red Sweater Project uses encryption to protect sensitive information transmitted online, it also protects your information offline. Only employees who need the information to perform a specific job (for example, sponsor support or fundraising) are granted access to personally identifiable information. The computers/servers in which Red Sweater Project stores personally identifiable information are kept in a secure environment.

</p><br/>

<p><strong>Contact Information</strong><br/>
  In order to access our newsletter or make a donation, a user may be required to provide certain information (such as name and email address), which is used to contact you about Red Sweater Project programs in which you have expressed interest. Further information may be required in order to make a recurring donation, such as a student sponsorship.
</p><br/>
<p><strong>Links</strong><br/>
  Red Sweater Project websites may contain links to other sites.  Please be aware that Red Sweater Project is not responsible for the content or privacy practices of such other sites. Red Sweater Project encourages its website users to be aware when they leave Red Sweater Project's website and to read the privacy statements of any other site that collects personally identifiable information.
</p><br/>
<p><strong>Surveys</strong><br/>
  From time-to-time our site requests information via surveys.  Participation is completely voluntary and you may choose whether or not to participate and therefore disclose this information.  Information requested may include contact and demographic information (such as zip code, age level).  Survey information will be used for purposes of monitoring and/or improving the use and satisfaction of Red Sweater Project sites.
</p><br/>
<p><strong>Updates</strong><br/>
  Red Sweater Project's Privacy Policy may change from time to time; all updates will be posted on this page. If you feel that Red Sweater Project is not abiding by this privacy policy, please contact us via the information at the bottom of each web page.
</p><br/>
